<div class="mainBlock" id="exp">
    <div class="container">
        <div class="row col-md-12 mg0">
            <!-- <div class="closeBtn" (click)="close()">X</div> -->
            <div class="block-title col-md-12">
                Regional Admin Portal(s)
            </div>
            <div class="col-md-7">
                <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img">
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/regional.PNG" width="100%" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/servermain.PNG" width="100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="block-desc-title col-md-12">
                    Description
                </div>
                <div class="block-date col-md-12">
                    Oct 2020 – Present
                    <br>
                    <div class="col-md-12 col-sm-12 col-12  mgt10 pg0 comp">
                        <img src="../../assets/logo-hong-leong-desktop.png" width="120" />
                    </div>
                    <br>
                </div>
                <div class="block-desc col-md-12">Provide administrative controls on Hong Leong Bank App for different
                    regions as Malaysia, Cambodia and Vietnam. Application is aim to provide service availability such
                    as set server maintenance, user access matrix, upload FAQ & translation, update promotions,
                    versioning control of the Hong Leong APP etc. Overall functionalities can be maintain by authorised
                    Hong Leong administrator.


                </div>
            </div>
            <div class="col-md-12 link">URL : <a>CONFIDENTIAL</a>
            </div>
        </div>
    </div>
</div>