<div class="mainBlock" id="exp">
    <div class="container">
        <div class="row col-md-12 mg0">
            <!-- <div class="closeBtn" (click)="close()">X</div> -->
            <div class="block-title col-md-12">
                Lonpac Corporate Web
            </div>
            <div class="col-md-7">
                <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img">
                    <div class="col-md-12 col-sm-12 col-12  mgt10 pg0">
                        <img src="../../assets/lonpacLanding.PNG" width="100%" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-12  mgt10 pg0">
                        <img src="../../assets/milestone.PNG" width="100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="block-desc-title col-md-12">
                    Description
                </div>
                <div class="block-date col-md-12">
                    June 2018 – Sep 2018
                    <br>

                    <div class="col-md-12 col-sm-12 col-12  mgt10 pg0 comp">
                        <img src="../../assets/Fusionex-Logo.png" width="120" />
                    </div>
                    <br>
                </div>
                <div class="block-desc col-md-12">Lonpac Corporate Website is a static content website which allow
                    authorized admin to upload desired content from the content management system. Every content is
                    created and categorized by module which is flexible and configurable. Admin can easily drag and drop
                    preferred modules and insert content or data accordingly. Various user matrix accessibility can be
                    control by the system where specific user roles can only upload or edit certain module or pages


                </div>
            </div>
            <div class="col-md-12 link">URL: <a href="https://www.lonpac.com" target="_blank">https://www.lonpac.com</a>
            </div>
        </div>
    </div>
</div>