<div class="mainBlock">
    <div class="container">
        <div class="row col-md-12 mg0">
            <div class="col-md-12 title">PROJECTS
                <div class="line"></div>
            </div>
            <div class="col-md-3 " (click)="goTo('referral')">
                <div class="block">
                    <div class="block-title">
                        Referral App | Admin Portal
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img">
                        <div class="col-md-4 col-sm-4 col-4 tac mgt10">
                            <img src="../../../assets/angular.png" width="60px" class="cAng" />
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mgt10">
                            <img src="../../../assets/ionic.png" width="95px" class="cIon" />
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 tac mgt10">
                            <img src="../../../assets/nestjs.png" width="60px" class="cNes" />
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 tac mgt10">
                            <img src="../../../assets/material.png" width="60px" class="cMat" />
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 mgt10">
                            <img src="../../../assets/mongodb.png" width="95px" class="cMon" />
                        </div>
                        <div class="col-md-4 col-sm-4 col-4 tac mgt10">
                            <img src="../../../assets/bootstrap.png" width="60px" class="cBoo" />
                        </div>
                    </div>
                    <div class="block-desc">
                        Hong Leong Bank Cambodia Loan Document Submit App & Admin Portal
                    </div>
                    <div class="block-pos">
                        Fresh Grad | Front-End | Back-End | Tester
                    </div>
                </div>
            </div>
            <div class="col-md-3 " (click)="goTo('digital')">
                <div class="block">
                    <div class="block-title">
                        Digital OnBoarding
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img ">
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/angular.png" width="60px" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/nodejs.png" width="95px" class="cNode" />
                        </div>
                        <div class="col-md-12 col-sm-12 col-12 tac mgt10">
                            <img src="../../../assets/bootstrap.png" width="60px" />
                        </div>
                    </div>
                    <div class="block-desc mgt27x">
                        Hong Leong Bank Malaysia KYC Web Application
                    </div>
                    <div class="block-pos">
                        Executive | Front-End
                    </div>
                </div>
            </div>
            <div class="col-md-3 " (click)="goTo('regional')">
                <div class="block">
                    <div class="block-title">
                        Regional Admin Portal(s)
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img ">
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/angular.png" width="60px" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 mgt10">
                            <img src="../../../assets/nodejs.png" width="95px" class="cNode" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/bootstrap.png" width="60px" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/mysql.png" width="60px" />
                        </div>
                    </div>
                    <div class="block-desc mgt27">
                        Hong Leong Bank Malaysia | Cambodia | Vietnam Admin Portal
                    </div>
                    <div class="block-pos">
                        Executive | Front-End | Back-End | Consultant
                    </div>
                </div>
            </div>
            <div class="col-md-3 " (click)="goTo('lonpac')">
                <div class="block">
                    <div class="block-title">
                        Lonpac Corporate Web
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img ">
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/csharp.png" width="80" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 mgt10">
                            <img src="../../../assets/net.png" width="65" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/dnn.png" width="60" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 tac mgt10">
                            <img src="../../../assets/bootstrap.png" width="60" />
                        </div>
                    </div>
                    <div class="block-desc mgt27">
                        Content Management System for Lonpac Business Website
                    </div>
                    <div class="block-pos">
                        Intern | Front-End | Tester
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>