<div class="mainBlock">
    <div class="container">
        <div class="row col-md-12 mg0">
            <div class="col-md-12 title">CONTACT
                <div class="line"></div>
            </div>

            <div class="row col-md-12">
                <div class=" col-md-4 tar mtac">
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/linkedin.png" width="20" />
                        <a class="linkc" href="https://www.linkedin.com/in/alvin-lim-334889165/" target="_blank"> Alvin
                            Lim</a>
                    </div>
                </div>
                <div class=" col-md-4 tac">
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/gmail.png" width="20" />
                        <a class="linkc"
                            href="https://mail.google.com/mail/?view=cm&fs=1&to=alvinlim7749@gmail.com&su=subject_here&body=body_here"
                            target="_blank"> alvinlim7749@gmail.com</a>
                    </div>
                </div>
                <div class=" col-md-4 mtac">
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/iphone.png" width="20" />
                        <a class="linkc"> +6010-267-8496</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>