<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand navC" href="#">Alvin</a>
    <p class="quote quoteHide">I'm a passionate software engineer. Don't be shy :D keep on browsing and scrolling. Click
        on the project and view more</p>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Passionate <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
            </li> -->
        </ul>
    </div>
</nav>