<div class="mainBlock" id="exp">
    <div class="container">
        <div class="row col-md-12 mg0">
            <!-- <div class="closeBtn" (click)="close()">X</div> -->
            <div class="block-title col-md-12">
                Digital OnBoarding
            </div>
            <div class="col-md-7">
                <div class="row col-md-12 col-sm-12 col-xs-12 mg0 pg0 block-img">
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/Landing Page.PNG" width="100%" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-12  mgt10">
                        <img src="../../assets/Sample form.PNG" width="100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="block-desc-title col-md-12">
                    Description
                </div>
                <div class="block-date col-md-12">
                    Apr 2020 – Present
                    <br>
                    <div class="col-md-12 col-sm-12 col-12  mgt10 pg0 comp">
                        <img src="../../assets/logo-hong-leong-desktop.png" width="120" />
                    </div>
                    <br>
                </div>
                <div class="block-desc col-md-12">Digital OnBoarding is a web application for Hong Leong Bank Malaysia
                    to provide a ‘Know Your Customer’ (KYC) detail submission before processing application on opening
                    business account of different business type such as Sole Proprietor or SDN BHD. Customer able to
                    register to this submission by inputting their business registration number on different location
                    such as Peninsular Malaysia or Sabah & Sarawak.
                    <br>
                    <br>

                    Customer will required to fill up some personal &
                    business detail to ease and shorten time for future processing any application on Hong Leong Bank
                    Malaysia services. Customer can make appointment on all Hong Leong Bank branches from Malaysia.
                    System will provide save function on the incomplete form for customer to continue next time by
                    entering their registered business registration number and verify TAC from their mobile phone. Final
                    submitted application will send to selected branch for future reference and process on the
                    appointment and application.
                </div>
            </div>
            <div class="col-md-12 link">URL : <a>CONFIDENTIAL</a>
            </div>
        </div>
    </div>
</div>